name: Build and Push GPU Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image (latest + versioned tags)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.gpu
          push: true
          tags: |
            jerrea2/kollective-vto:latest
            jerrea2/kollective-vto:demo-v1
            jerrea2/kollective-vto:demo-v1-${{ github.sha }}
