name: Build and Push GPU Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push GPU image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.gpu
          push: true
          tags: |
            jerrea2/kollective-vto:demo-v1
            jerrea2/kollective-vto:demo-v1-${{ github.sha }}
          secrets: |
            HF_TOKEN=${{ secrets.HF_TOKEN }}
